{% extends "base.html" %}

{% block head %} 

{% endblock %}


{% block body %}
<h2 class="glowy-heading">NutriSnap</h2>

<div class="center">
  <form action="/" method="post" enctype="multipart/form-data">

      <input id="file-upload" type="file" name="image">

      <label for="submit-upload" class="custom-submit-upload">
        Submit
      </label>
      <input id="submit-upload" type="submit" name="image">
    </form>

  {% if prediction != "" %} 
    <h2 style="margin-top: 3%; margin-bottom: 1%; font-size: 25px;">Macros of a <span class="glowy-heading-small" style="display: inline; font-size: 26px;">{{ prediction }}</span> </h2> 
  {% endif %}
  <h2 class="glowy-heading-small">{{ heading1 }}</h2>

  {{ nutritionInfo1 }}

  <h2 class="glowy-heading-small">{{ heading2 }}</h2>

  {{ nutritionInfo2 }}

  <h2 class="glowy-heading-small">{{ heading3 }}</h2>

  {{ nutritionInfo3 }}

  <h2>{{ heading4 }}</h2>

  {{ nutritionInfo4 }}

  <h3 style="font-size: small;"> {{ servingSize }}</h3>


  {% if recipe %}
    <h2 class="glowy-heading-small" style="margin-top: 10%;">Recipes:</h2> 
  {% endif %}

  {% for rec in recipe %}
    <a class="custom-gradient-link" href="{{ rec[1] }}" target="{target}">
      <span class="gradient-text">
          {{ rec[0] }}
      </span>
    </a>
    <br>

  {% endfor %}    
  {% endblock %}
</div>